* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /*The box-sizing property allows us to include the padding and border in an element's total width and height*/
}

body {
    background:black;
    color:white;
    
}

nav {
    display:flex;
    position: sticky;
    top:0;
    width:85%;
    margin:auto;
    padding:20px 0;/* 20- top and bottom 0-left and right*/
    align-items:center;
    justify-content:space-between;
    background-color: black;
}
    
nav ul li {
    display:inline-block;
    list-style:none;
    margin:10px 20px;
}
nav ul li a {
    text-decoration: none;
    color:aliceblue;
    font-weight: bold;
    font-size:large;
}

nav ul li a:hover, .active {
    background-color: gold;
}


#logo {
    height:50px;
}

.profile {
    margin-left:8%;
    margin-top:15%;
    margin-bottom: 18%;
}
.profile h1 {
    font-size:50px;
    color:wheat;
    margin-bottom:20px;
    font-family:Arial, Helvetica, sans-serif;
}
.profile h1 span {
    color:goldenrod;
}
.profile p {
    color:bisque;
    line-height: 20px;
}

.profile a {
    background:ghostwhite;
    padding:10px;
    text-decoration: none;
    font-weight:bold;
    color:brown;
    display:inline-block;
    margin:30px 10px;
    border-radius: 10px; /*square to rounded corners*/
}
/*about me*/
* {
    margin: 0px;
    color:aliceblue;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.container {
    width:100%;
    min-height: 100vh;
    background-color: black;
    padding: 30px;
}
.container .title {
    width:100%;
    display: flex;
    align-items:center;
    justify-content: center;
    text-transform:uppercase;
    font-size:22px;
    color:aliceblue;
    letter-spacing: 1.5pxS;
    padding-top: 20px;
}

.container .title h1::after {
    content:"";
    height:6px;
    width:180px;
    background-color: antiquewhite;
    border-radius: 6px;
    position:relative;
    display:block;
    margin:auto;
}

.content {
    width:85%;
    display:grid;
    overflow: hidden;
    grid-template-columns:60% 40%;
    grid-gap:50px;
    margin:30px auto;
    height:30%;
    grid-auto-rows: auto;
}

.content .article {
    box-shadow: 0px 0px 2px 0px rbga(white);
    background-color:grey;
    padding:35px;
}

.content .article h2 {
    font-size:22px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.content .article p {
    margin-top:30px;
    font-size: 19px;
    line-height:1.5;
    color:antiquewhite;
}

.image {
    width:100%;
    margin:auto;
    
}

.image img {
    width:330px;
    max-height:300%;
}
.article {
    text-align: center;
}

@media only screen and (max-width: 900px) {
	.content {
        grid-template-columns: repeat(1,1fr);
    }
}

/*gallery */
.flex-gallery {
    /*display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row-gap:1em;
    background-color:black;
    padding: 20px 10px;*/
    display:flex;
    width:100%;
    min-width:0;
    max-width:auto;
    align-items: center;
    justify-content:center;
    padding:20px 20px;
    flex-wrap:wrap;
    gap:20px
}
/*@media only screen and (max-width: 900px) {
	.flex-gallery {
        grid-template-columns: repeat(2,1fr);
    }
}/

/*contact me*/
* {
    margin:0;
    padding:0;
    font-family:'Courier New', Courier, monospace;
    box-sizing:border-box;
}
 
.sep-cont {
    background: black;
    color:white;
    min-height:60vh;
    display:flex;
    align-items:center;
    justify-content: center;
    
}

.contact-info {
    display:flex;
    width:100%;
    min-width:0;
    max-width:1200px;
    align-items: center;
    justify-content:center;
    padding:20px 20px;
    flex-wrap:wrap;
    gap:20px
}

.card {
    background: gray;
    padding: 30px 30px;
    margin: 0 10px;
    width: 500px;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:azure;
    cursor:pointer;
}

.card-icon {
    
    background: gold;
    width:60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}


.card:hover .card-icon {
    background: none;
    color: brown;
    transform: scale(1.6)
}
.card p {
    font-size: 100%;
    margin-top: 20px;
    font-weight:300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}

.card:hover p {
    max-height:40px;
    opacity:1;
}

.cont .contact-title {
    width:100%;
    display: flex;
    align-items:center;
    justify-content: center;
    text-transform:uppercase;
    font-size:22px;
    color:aliceblue;
    letter-spacing: 1.5pxS;
    padding:20px 0px;
}
.cont {
    width:100%;
    background-color: black;
}
.cont .contact-title h1::after {
    content:"";
    height:6px;
    width:180px;
    background-color: antiquewhite;
    border-radius: 6px;
    position:relative;
    display:block;
    margin:auto;
}
